# Copie este arquivo para .env e preencha os valores reais.
# Exemplo de URL de conexão para MySQL/MariaDB:
# DATABASE_URL="mysql://usuario:senha@localhost:3306/nome_do_banco"

PORT=3000

DATABASE_URL="mysql://root:@localhost:3306/tcc-vambora"

DATABASE_HOST
DATABASE_USER
DATABASE_PASSWORD
DATABASE_NAME

NODE_ENV=development
